<nav class="navbar fixed-bottom navbar-expand navbar-light bg-light">
  <div class="navbar-text m-auto">
    Made with <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i> by GoBTCP
  </div>
</nav>
