<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GoBTCP</a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" [class.collapse]="isCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a target="_blank"class="nav-link" href="https://www.reddit.com/r/BTC_Private/comments/8qqtqm/gobtcp_opensource_community_btcp_trading_exchange/">More Info</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <button class="btn btn-primary nav-link dropdown-toggle" dropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" aria-controls="firstDrop" type="button">
          GoBTCP
        </button>
        <ul class="dropdown-menu" *dropdownMenu aria-labelledby="navbarDropdown" id="firstDrop">
          <li class="dropdown-item" href="#">GoBTCP Header</li>
          <li class="dropdown-item" href="#">GoBTCP Something</li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item" href="#">GoBTCP Else</li>
        </ul>
      </li>
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          GoBTCP <span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">Another GoBTCP</a></li>
          <li role="menuitem"><a class="dropdown-item" href="#">GoBTCP</a></li>
          <li class="divider dropdown-divider"></li>
          <li role="menuitem"><a class="dropdown-item" href="#">GoBTCP</a>
          </li>
        </ul>
      </div>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="No search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">No search</button>
    </form>
  </div>
</nav>
