<app-nav></app-nav>
<div class="container">
  <div class="starter-template">
    <h1>GoBTCP</h1>
    <p class="lead">GoBTCP</p>
    <a target="_blank" href="https://www.reddit.com/r/BTC_Private/comments/8qqtqm/gobtcp_opensource_community_btcp_trading_exchange/">More Info</a>
  </div>
</div>
<app-footer></app-footer>
